.note{color:blue;
    font-size: 20px;}
#pirmaisHeading{font-style: italic}
 h3 {
     color:blueviolet;
     background-color: black; }   
 .full{border-style: groove;
    display: grid;
    grid-template-columns: 30% 70%;
    }
 .left{background-color: chocolate;
        }
 .right{background-color: blue;
        }